header {
    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;
    z-index: 3;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    background-color: black;
    color: white;
    padding: 12px 0;
    box-shadow: 0 2px 4px 0 hsl(0deg 0% 81% / 50%);
}

.header-container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 32px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.header-left {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.header-right {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.logo {
    display: inline-block;
    margin-right: 10px;
}

.header-menu {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    margin-right: 1.5rem;
}

.profile {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}